@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}


p{
    text-align: justify;
    text-indent: 50px;
  
}
img#picture-subtitle{
    
    position: relative;
    border: 4px solid white;
    box-shadow: 1px 1px 4px black;
    width: 100%;
    height:100%;
    max-width: 70%;
    left: 10%;
    



}
/*Nav*/
#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    bottom: 250px;
    left: 320px;

}

#menu li{
    display:inline-block;
    background-color: rgba(128, 128, 128, 0.274);
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    border-radius: 4pt;
       
}

#menu li:hover{
    background: #606060;
    transition: 1s;
}

#menu a{
    text-decoration: none;
    color: black;
   
 
}

#menu a:hover{
    color: rgb(255, 255, 255);

}

/*Nav*/

body{
    background-color:#dddddd;
}

div#interface{
    width: 900px;
    background: white;
    margin: -20px auto 0px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}
/*img*/
#glass{
    position: relative;
    left: 780px;
    bottom: 40px
}
/*img*/

/*header*/
#header{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_images/glass-logo-sma.jpg") no-repeat 0px 80px;
}
#header h1{
    font-family: FonteLogo;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
    padding: 0px;
    margin-bottom: 0px;
}

#header h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;

}
/*header*/

/*blocks*/
#section{
    display: block;
    width: 520px;
    float: left;
    border-right: 1px #606060 solid;
    padding-right: 15px;
    
}
#aside{
    display: block;
    width: 350px;
    float: right;

}

#footer{
    clear: both;
    border-top: 1px #606060 solid;
}
#footer p{
    text-align: center;
}

/*blocks*/

/*Links*/
#Linkedin{
    text-decoration: none;
    color:#0e76a8
}
#Github{
    text-decoration: none;
    color: #24292e;
}
/*Links*/